#eat {
    border:solid black 2px;
    background-color: aqua;
    border-radius: 12px;
    padding: 30px;
    max-width: 200px;
    height: 300px;
    position: absolute;
    top: 30px;
    left: 30px;
};
#play {
    border:solid black 2px;
    background-color: rgb(97, 250, 105);
    border-radius: 12px;
    padding: 30px;
    max-width: 200px;
    height: 300px;
    position: absolute;
    top: 30px;
    right: 30px;
};
#fight {
    border:solid black 2px;
    background-color: rgb(240, 110, 110);
    border-radius: 12px;
    padding: 30px;
    max-width: 200px;
    height: 300px;
    position: absolute;
    bottom: 30px;
    left: 30px;
};
#sleep {
    border:solid black 2px;
    background-color: rgb(220, 61, 235);
    border-radius: 12px;
    padding: 30px;
    max-width: 200px;
    height: 300px;
    position: absolute;
    bottom: 30px;
    right: 30px;
};
